{% comment %}
Отрисовываем навигацию паджинатора только если
все посты не помещаются на первую страницу
{% endcomment %}

{% if page_obj.has_other_pages %}

<nav
    aria-label="Page navigation" class="d-flex justify-content-center">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li
        class="page-item"><a class="page-link text-success"
        href="?page=1">First</a>
      </li>
      <li class="page-item">
        <a class="page-link text-success" href="?page={{ page_obj.previous_page_number }}">
          Previous
        </a>
      </li>
    {% endif %}


    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link text-success" href="?page={{ page_obj.next_page_number }}">
          Next
        </a>
      </li>
      <li class="page-item">
        <a class="page-link text-success" href="?page={{ page_obj.paginator.num_pages }}">
          Last
        </a>
      </li>
    {% endif %}    

    </ul>
</nav>

{% endif %}
