{% extends 'base.html' %} 
{% load static%}
{% load user_filters %}
{% block title %} 
Published by {{ author.get_full_name }} 
{% endblock %} 
 
    {% block content %} 
    <div
        class="d-flex align-items-center justify-content-center mt-5"
        >
    <div>

  <div class="col" style="max-width: 540px;">
    <div class="card h-100">
      <img src="{% static 'img/random/forest.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
            Author: 
                <a
                    href="{% url 'posts:profile' post.author %}"
                    class="text-decoration-none text-success"
                    >{{ post.author.get_full_name }}
                </a>
        </h5>
            <p class="card-text">{{ post.text|linebreaksbr }}</p>
            <ul class="nav justify-content-between">
                {% if post.group %}   
                  <li class="nav-item">
                    <a  
                      class="nav-link text-success"
                      href="{% url 'posts:group_list' post.group.slug %}"
                    >more from "{{ post.group.title }}"
                    </a>
                      </li>
                {% endif %}
                {% if request.user == post.author %}
                  <li class="nav-item">
                    <a
                      class="nav-link text-success"
                      href="{% url 'posts:post_update' post.id %}"
                    >Edit post
                    </a>
                  </li>
                {% endif %}
            </ul>


      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Published on:  {{ post.pub_date|date:"d M Y" }}</small>
      </div>
    </div>
</div>

    </div>
    </div>
    {% endblock %} 
