{% extends 'base.html' %} 
{% load static%}
{% load user_filters %}
{% block title %} 
Published by {{ author.get_full_name }} 
{% endblock %} 
 
    {% block content %} 
<figure class="text-end">
  <blockquote class="blockquote">
    <p>All posts by {{ author.get_full_name }}</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <cite title="Source Title">Всего постов: {{ author.posts.count }}</cite>
  </figcaption>
</figure>

<div class="row row-cols-1 row-cols-md-3 g-4 mt-0">
      {% for post in page_obj %}

  <div class="col">
    <div class="card h-100">
      <img src="{% static 'img/random/forest.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Published by: {{ post.author.get_full_name }}</h5>
            <a
              href="{% url 'posts:post_detail' post.id %}"
              class="text-decoration-none text-secondary"
              >
            <p class="card-text">{{ post.text|linebreaksbr|truncatewords:10 }}</p>
            </a>
        {% if post.group %}   
              <a
                href="{% url 'posts:group_list' post.group.slug %}"
                class="link-success text-decoration-none"
              >more from "{{ post.group }}"
              </a>
        {% endif %}


      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Дата публикации:  {{ post.pub_date|date:"d M Y" }}</small>
      </div>
    </div>
</div>
  
      {% endfor %}
</div>

    {% endblock %} 
