<!-- templates/users/change_password_done.html --> 
{% extends 'base.html' %} 
{% block title %} 
    Password changed
{% endblock %} 
{% block content %} 
 
        <div class="row justify-content-center"> 
          <div class="col-md-8 p-5"> 
            <div class="card"> 
              <div class="card-header d-flex justify-content-center"> 
                PASSWORD CHANGE
              </div> 
              <div class="card-body"> 
                You successfully changed your password!
              </div> <!-- card body --> 
            </div> <!-- card --> 
          </div> <!-- col --> 
        </div> <!-- row --> 
      </div> 
{% endblock %} 
