<!-- templates/users/change_password_form.html --> 
{% extends 'base.html' %} 
{% block title %} 
    Changing your password
{% endblock %} 
{% block content %} 
 
        <div class="row justify-content-center"> 
          <div class="col-md-8 p-5"> 
            <div class="card"> 
              <div class="card-header d-flex justify-content-center"> 
                YOU'RE ABOUT TO CHANGE YOUR PASSWORD
              </div> 
              <div class="card-body"> 
                <form method="post" action="{% url 'users:password_change' %}"> 
                {% csrf_token %}
                  <div class="mb-3"> 
                    <label for="id_old_password"> 
                      Old password
                      <span class="required text-danger">*</span> 
                    </label>     
                    <input type="password" name="old_password" autofocus class="form-control" required id="id_old_password"> 
                  </div> 
                  <div class="mb-3"> 
                    <label for="id_new_password1"> 
                      New password
                      <span class="required text-danger">*</span> 
                    </label>     
                    <input type="password" name="new_password1" class="form-control" required id="id_new_password1"> 
                      <small id="id_new_password1-help" class="form-text text-muted"> 
                        <ul>
                            <li>
                            Your password should not be your name or any other
                            personal info or be similar to them.
                            </li>
                            <li>
                            Your password should be at least 8 chars long.
                            </li>
                            <li>
                            Your password shouldn't be a common place one like
                            'abcdefg'.
                            </li>
                            <li>
                            Your password shouldn't be all numbers like '1234'
                            </li>
                        </ul> 
                      </small> 
                  </div> 
                  <div class="mb-3"> 
                    <label for="id_new_password2"> 
                      Aprove your new password 
                      <span class="required text-danger">*</span> 
                    </label>     
                    <input type="password" name="new_password2" class="form-control" required id="id_new_password2"> 
                  </div> 
                  <div class="d-flex justify-content-end"> 
                    <button type="submit" class="btn btn-secondary"> 
                      Change your password 
                    </button> 
                  </div> 
                </form> 
              </div> <!-- card body --> 
            </div> <!-- card --> 
          </div> <!-- col --> 
        </div> <!-- row --> 
      </div> 
{% endblock %} 

